@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/* MAIN HOME PAGE */
body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(238, 238, 238);
    font-weight: 10;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-weight: 510;
    font-size: 1.5rem;
}

.subHead {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4b0082;
    width: 100%;
    z-index: 1000;
}

.nav-links.open {
    display: flex;
}

.nav-links li {
    margin: 0.5rem 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
}

.gallery {
    display: grid;
    gap: 1rem;
    justify-items: center;
    grid-template-columns: 1fr;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    color: #000;
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
    font-family: Tahoma, Verdana, sans-serif;
}

figcaption div span {
    color: #fff;
    font-family: Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    align-items: center;
}

figcaption div span i, figcaption h3 i {
    margin-right: 5px;
    padding: 4px;
    border-radius: 100%;
    background: #4b0082;
}

figcaption h3 i {
    border-radius: 10%;
    color: #4b0082;
}

figcaption h3, figcaption div {
    color: #4b0082;
}

.card {
    width: 100%;
    max-width: 500px;
    border-radius: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 0rem;
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 0px;
}

main {
    flex: 1;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #4b0082;
    color: #fff;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    flex-shrink: 0;
    margin-bottom: 0px;
    line-height: 25px;
}

footer hr {
    width: 100%;
    margin-bottom: 15px;
    border: 0.1px solid #838282;
}

footer nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 18px;
}

footer .footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footer-nav li {
    margin: 0;
}

footer .footer-nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

footer .footer-nav a:hover {
    text-decoration: underline;
}

.form-search {
    margin: 0 auto;
    text-align: center;
    font: bold 13px sans-serif;
    max-width: 100%;
    position: relative;
    background: transparent;
}

.form-search input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;
    margin-bottom: 40px;
    color: #4E565C;
    outline: none;
    -webkit-appearance: none;
}

.searchLabel {
    text-align: center;
}

.logo {
    width: auto;
    height: 40px;
    display: inline-block;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}


@media only screen and (max-width: 600px) {
    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-links li:last-child {
        padding-bottom: 1.3rem;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .form-search input {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .member-detail img {
        border: 5px solid #fff;
    }
}

@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .form-search input {
        margin-bottom: 10px;
    }
}






/* SLIDER */
#slidy-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#slidy {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slidy 12s infinite;
    transition: transform 1s ease;
}

#slidy > div {
    min-width: 100%;
    height: 100vh;
    position: relative;
}

#slidy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slidy-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 90%; 
    max-width: 600px;
    font-size: 18px; 
    line-height: 25px;
}

.slidy-caption h3 {
    font-size: 28px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-bottom: 10px; 
    line-height: 35px;
}

.slidy-caption p {
    padding: 10px;
    margin-bottom: 20px;
}

.slidy-caption .btn {
    background-color: #a321ff;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.slidy-caption .btn:hover {
    background: #5c019d;
    border-radius: 0px;
    transition: 0.5s;
}

.slidy-controls {
    position: absolute;
    top: 10px; 
    right: 10px; 
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.slidy-control-prev, .slidy-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
}

#slidy > div img {
    filter: brightness(50%);
}






/* DETAIL */
.member-card {
    display: grid;
    gap: 0rem;
    background: #ddd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
}

.member-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px !important;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 19px;
}

.member-body h2 {
    padding-top: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.member-title, .type {
    text-transform: capitalize;
}

.member-text i {
    margin-right: 5px;
    background: #4b0082;
    padding: 7px;
    color: #fff;
    border-radius: 100%;
}

.email, .phone, i {
    margin-bottom: 3px;
}

.member-body .description {
    text-align: left !important;
    padding-bottom: 10px;
    padding-right: 5px;
}

.member-img {
    width: 500px;
    max-width: 100%;
    height: 330px;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    background-color: #4b0082;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
    transition: background-color 0.5s, border-radius 0.5s;
}

.button-container button:hover {
    background-color: #8302df;
    border-radius: 0px;
    transition: 0.5s;
}

.sub-head {
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.member-body .start-hidden {
    color: #f70000;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 600px) {
    .member-card {
        grid-template-columns: 1fr 2fr;
    }

    .member-body {
        margin-left: 30px !important;
    }
}

@media (min-width: 1024px) {
    .sub-head {
        text-align: left !important;
    }
}




/* REGISTER / EDIT / CONTACT */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

form {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    margin-top: 10px;
}

form h3 {
    color: #000;
    display: block;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    margin-top: 3px;
}

form h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="url"],
form textarea,
form select,
form button[type="submit"],
form button[type="button"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="tel"]:hover,
form input[type="url"]:hover,
form textarea:hover,
form select:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

form button[type="submit"],
form button[type="button"] {
    cursor: pointer;
    border: none;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 18px;
}

form button[type="submit"] {
    background: #7a02d0;
    color: #FFF;
}

form button[type="submit"]:hover {
    background: #4b0082;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

form button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

form button[type="button"] {
    background: #acabab;
    color: #000;
}

form button[type="button"]:hover {
    background: #3b3b3b;
    color: #fff;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

#imagePreview {
    display: block;
    margin: -10px auto 15px auto;
    max-width: 200px;
    width: 170px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: #fff;
}

.centerImage {
    display: block;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 13px;
}

#descriptionCount {
    display: block;
    margin-top: 5px;
}

.memberType {
    font-size: 0.9em;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.update {
    font-size: 15px !important;
    margin-bottom: 14px;
    color: #4b0082;
}

.editHeading{
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 34px;
    text-align: center;
}

.joinInfo{
    margin-top: -30px;
    font-size: 14px;
}

.ImageBtn{
    padding-bottom: 20px;
    display: block;
}

.contact{
    margin-top: 10px;
}

#editForm #memberNameDisplay {
    text-align: center;
    color: #4b0082;
    margin-top: 1px;
    margin-bottom: 30px;
}







/* ABOUT */
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 20px;
    text-align: left;
}

.about-text {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.aboutUs {
    font-size: 34px;
    text-align: start;
    margin-left: 20px;
    margin-bottom: -30px;
    margin-top: 50px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.aboutbutton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4b0082; 
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.aboutbutton:hover {
    background-color: #8302df; 
    border-radius: 0px;
    transition: 0.5s;
}

@media (max-width: 600px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about-text, .about-image {
        text-align: center;
    }

    .aboutUs {
        margin-bottom: -20px;
        text-align: center !important;
    }
}





/* SUCCESS */
.success-card {
    max-width: 500px;
    margin: 70px auto;
    padding: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.success-card h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.success-card p {
    color: #333;
    margin: 0;
}


@media (max-width: 600px) {
    .success-card {
        margin: 148px 10px;
        padding: 50px;
    }

    .success-card h2 {
        font-size: 1.5em;
    }

    .success-card p {
        font-size: 1em;
    }
}





/* FAQ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 48rem;
    margin-top: 40px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 10px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #595959;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.accordion button:hover,
.accordion button:focus {
    color: #4b0082;
}

.accordion button .accordion-title {
    padding-right: 1.5em;
}

.accordion button .icon {
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded=true] {
    color: #4b0082;
}

.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    .accordion button {
        font-size: 1rem;
    }

    .accordion .accordion-content p {
        font-size: 0.875rem;
    }
}


 


.midcard {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }
  
  .midcard-body {
    padding: 20px;
  }
  
  .midcard-body p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0;
  }
  